<li class="subscript acl-write">
  <a title="subscript" class="grouped-right">
    <span class="buttonicon" style="background-image:url('../static/plugins/ep_subscript/static/img/icon.png');"></span>
  </a>
</li>
