<li class="subscript acl-write">
  <a title="subscript" class="grouped-right">
    <span class="buttonicon"></span>
  </a>
</li>

<style>

  .subscript{
    font-family:font-awesome;
  }

  .subscript .buttonicon {
    top:0px!important;
  }

  .subscript .buttonicon:before{
    content:"\e81a";
  }
	
</style>
